.bg {
  color: black;
  --ion-background-color: white;
}

ion-content ion-toolbar {
  --ion-background-color: white;
}


* {
  font-family: 'Sen', sans-serif;
}


::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #6ab06c;
}
